.page_container {
  .index_swiper {
    swiper {
      width: 750rpx;
      height: 350rpx;
      navigator {
        height: 100%;
        image {
          width: 100%;
          height: 100% !important;
        }
      }
    }
  }
  .index_nav {
    display: flex;
    navigator {
      flex: 1;
      padding: 20rpx;
      image {
        width: 100%;
      }
    }
  }
}