@import "./styles/fonts/iconfonts.scss";

page,
view,
text,
swiper,
swiper-item,
image,
navigator {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

page {
  // 颜色
  --themeColor: #eb4450; // 主题色
  --BG: #ededec; // 背景色
  --color999: #999;
  --color666: #666;
  --color333: #333;
  --colorccc: #ccc;

  // 字体
  font-size: 28rpx;
  --fontS20: 20px;
  --fontS18: 18px;
  --fontS12: 12px;
  --fontS10: 10px;
  // page的初始样式
  height: 100%;
  background-color: var(--BG);
}

// 清除浮动
.clearfix::after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}

// 水平、垂直居中
.level_vertical_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 一级标题
.title_font {
  font-size: var(--fontS18);
  color: var(--color333);
}

// 子标题
.sub_title_font {
  font-size: var(--fontS10);
  color: var(--color666);
}

// 点击跳转时的背景色
.navigator-hover {
  background: transparent;
}

image {
  width: 100%;
}

// 文字超出范围以省略号显示
.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
