.cart_wrapper {
  height: 100%;
  background: #f6f8f8;
}

.harvest_wrapper {
  padding: 20rpx;
  border-bottom: 1rpx solid #ccc;
  background: #fff;

  // 地址部分
  .address_wrapper {
    color: #333;
    font-size: 28rpx;

    .info {
      display: flex;
      justify-content: space-between;
      line-height: 2;

      .user_name {
        flex: 1;
      }
    }

    .address {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

// 购物车商品列表
.goods_list_wrapper {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30rpx;
    margin-bottom: 28rpx;
    color: var(--color333);
    font-size: 34rpx;
    line-height: 2;

    .manager {
      font-size: 30rpx;
      color: var(--themeColor);
    }
  }

  .list_item {
    display: flex;
    align-items: center;
    margin: 0 auto 20rpx;
    padding: 30rpx 40rpx 30rpx 20rpx;
    width: 94%;
    border-radius: 5px;
    background: #fff;

    checkbox-group {
      flex: 1;
      text-align: center;
    }

    .img_w {
      flex: 2;
      margin-right: 30rpx;

      img {
        width: 80%;
      }
    }

    .info {
      flex: 4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .goods_name {
        font-size: 28rpx;
        color: var(--color666);
        margin-bottom: 25rpx;
      }

      .price_tool {
        display: flex;
        align-items: center;
        justify-content: space-between;

        text {
          color: var(--themeColor);
          font-size: 32rpx;
          font-weight: bold;
        }

        .btn {
          display: flex;
          align-items: center;
          border: 1rpx solid #ccc;
          border-radius: 5rpx;

          .reduce {
            padding: 0 15rpx;
            border-right: 1rpx solid #ccc;
          }

          .increase {
            padding: 0 15rpx;
            border-left: 1rpx solid #ccc;
          }

          .num {
            padding: 0 20rpx;
          }

        }
      }
    }
  }
}

// 结算部分
.footer_tool {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background: #fff;
  border-top: 1rpx solid #ddd;
  padding: 20rpx;

  .checked_w {
    display: flex;
    align-items: center;
  }

  .total_price {
    display: flex;
    align-items: center;

    .price {
      color: var(--themeColor);
    }

    .btn {
      padding: 20rpx 30rpx;
      margin-left: 10px;
      height: 100%;
      color: #fff;
      font-size: 26rpx;
      background: var(--themeColor);
      border-radius: 36rpx;
      text-align: center;
    }
  }

  .manager_btn {
    display: flex;
    align-items: center;
    .entered_favorites,
    .delete {
      padding: 12rpx 30rpx;
      border-radius: 36rpx;
      font-size: 22rpx;
    }
    .entered_favorites {
      border: 1rpx solid orange;
      color: orange;
      margin-right: 10px;
    }

    .delete {
      border: 1rpx solid var(--themeColor);
      color: var(--themeColor);
    }
  }
}